* {
  margin: 0;
  padding: 0;
}

html {
    font-size: 100%;
    box-sizing: border-box;
    min-height: 100%;
    background-image: url(./Colorful-Vibes-Headphones-Wallpaper.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*
    background: url(image.jpg) center center cover no-repeat fixed;
    */
}

body {
  color: white;
  font-family: 'Poppins','sans-serif';
    background-color: #000;
}

.highlight {
  color: yellow;
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.headline-header {
  font-size: 3rem;
}

.headline-header--tag {
  text-align: center;
}

.nav-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 1rem;
}
.nav-list--item {
  text-decoration: none;
  display: inline-block;
  border: 2px solid white;
  padding: 5px;
  margin: 2px;
  border-radius: 10px;
}


    
    