* {
  margin: 0;
  padding: 0;
}

html {

}

body{
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  box-sizing: border-box;
  background-image:linear-gradient( 
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)), url(./Colorful-Vibes-Headphones-Wallpaper.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: darken;
  /*
  background: url(image.jpg) center center cover no-repeat fixed;
  */
}

a {
  text-decoration: none;
}

.highlight {
  color: lime;
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.headline__header {
  text-align: center;
  font-size: 3rem;
  }

.headline__header--tag {
  text-align: center;
  }

.nav__list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1rem;
  }

.nav__list--item {
  text-decoration: none;
  display: block;
  border: 2px solid white;
  padding: 5px;
  margin: 2px;
  border-radius: 10px;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 300px;
  background-color: #000;
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 10px;
  margin: 200px 0;
}

.contact input {
  display: block;
  margin: 5px;
  padding: 10px;
}

form button {
  display: inline-block;
  border: 2px solid white;
  padding: 5px;
  margin: 10px auto;
  border-radius: 10px;
  width: 100px;
}

footer {
  background: #000;
  width: 100vw;
  padding: 5px;
}

.footer__list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  }

.footer__list--item {
  text-decoration-style: none;
  display: block;
  padding: 5px;
  margin: 2px;
}

@media only screen and (min-width: 480px)  /* ====Tablets==== */ {



  body {
    color: #fff;
    font-family: 'Poppins','sans-serif';
  }

  a {
    text-decoration: none;
  }

  .highlight {
    color: lime;
  }

  header {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  .headline__header {
    font-size: 3rem;
  }

  .headline__header--tag {
    text-align: center;
  }

  .nav__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 1rem;
  }
  .nav__list--item {
    text-decoration: none;
    display: inline-block;
    border: 2px solid white;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
  }


  section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 300px;
    background-color: #000;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 200px 0;
  }

  .contact input {
    display: block;
    margin: 5px;
    padding: 10px;
  }

  form button {
    display: inline-block;
    border: 2px solid white;
    padding: 5px;
    margin: 10px auto;
    border-radius: 10px;
    width: 100px;
  }

  footer {
    background: #000;
    width: 100vw;
    padding: 5px;
  }
  
  .footer___list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }
  
  .footer__list--item {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 2px;
  }

}
    
    