* {
  margin: 0;
  padding: 0;
}

html {
    font-size: 100%;
    box-sizing: border-box;
    min-height: 100%;
    background-image: url(./Colorful-Vibes-Headphones-Wallpaper.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*
    background: url(image.jpg) center center cover no-repeat fixed;
    */
}

body {
  color: white;
  font-family: 'sans-serif';
    background-color: #000;
}

.highlight {
  color: yellow;
}

#header {
  
  
}


    
    